body {
    font-family: 'Rubik', sans-serif;
}
.intro{
    display:flex;
    color: aliceblue;
   
}


h1{
    font-size:xxx-large;
    font-family: 'Outfit', sans-serif;
}

.contact-info{
    display: flex;
    margin-top: 3%;
    color: aliceblue;
}
.header {
    display: flex;
    flex-direction: column;
    position:relative;
}
.section {
    max-width: 21cm;
    background-color:rgb(246, 250, 254);
    margin: auto;
    margin-top: 30px;
    box-shadow: 0px 0px 10px 0px;
    color: rgb(85, 91, 96);
    border-radius: 5px;
    padding: 1%;
}
.name {
    margin-top: 70px;
    font-size: 0.7in;
}

.header {
    background-color: rgb(13, 13, 83);
    
    box-shadow: 0px 0px 10px 0px;
}


.photo{
    justify-content: flex-end;
    position:absolute;
    left:auto;
    top :0px;
    right:0px;
    z-index: 100;
    max-width: 200px;
    max-height: 200px;
    /* display: block; */
    margin-top: 2%;
    margin-right: 2%;
    
}

.bio {
    margin-top: 90px;
}

.contact {
    margin-inline: 30px;
    padding: 10px; 
}

.skills-section{
    /* display: inline-block; */
    display: flex;
    flex-wrap: wrap;
}

.rectangle{
    background-color: rgb(165, 167, 185);
    margin: 10px;
    margin-left: 0px;
    max-width: fit-content;
    vertical-align: middle;
    max-height: 40px;
    text-align: center;
    color: aliceblue;
    inset-inline: 10px;
    border-radius: 5px;
    padding-inline: 10px;
    display: table-cell;
    line-height: 10px;

}

.circle {
    height: 20px;
    width: 20px;
    border-radius: 100%;
    margin-top: 0px;
    margin: 4px;
}

.ticked{
    background-color: rgb(20, 71, 96);
}

.unticked {
    background-color: rgb(165, 167, 185);
}

/* .lang{
    position:relative;
    background-color:azure ;
    max-width: fit-content;
} */

.lang {
    position: relative;
    background-color: rgb(238, 244, 247);
    width: fit-content;
    display: inline-block;
    border-radius: 10px;
    /* float: left; */
    /* padding-left: 4px; */
    padding-top: 4px;
    margin-bottom: 10px;
    margin-right: 10px;
    border: 2px solid rgb(165, 167, 185);
}


.markers {
    display: flex;
    top: 100%;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 5px;
}

h3 {
    margin-bottom: 0px;
    margin-top: 0px;
    padding-left: 4px;
}

.divider {
    margin-top: 1px;
    margin-bottom: 1px;
}

iframe {
    width : 100%
}