<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My CV</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <header>
        <div>
            <h1>Shreya Sevelar</h1>
            <h3>Third year engineering student with an inquisitive mind and a thirst for knowledge. Looking forward to exploring a career in data
                science.</h3>
        </div>
        <div id = "my_photo">
        <img src="../static/DSC_0138.JPG" alt="My Photo" width="500" height="350">
        </div>
    </header>

    <nav>
        <ul>
        <li> <a href="#about" class="nav-btn">About</a> </li>

        <li> <a href="#education" class="nav-btn">Education</a> </li>
        <li><a href="#projects" class="nav-btn">Projects</a> </li>
        <li><a href="#skills" class="nav-btn">Skills</a></li>
        <li><a href="#contact" class="nav-btn">Contact</a></li>
        </ul>
    </nav>

    <section class="section about">
        <a name = "about"></a>

        <h2>About</h2>
        <p>This is the about text</p>
    </section>

    <section class = "section education">
        <a name = "education"></a>

        <h2>Education</h2>
        <p>This is the education text</p>
    </section>

    <section class = "section projects">
        <a name = "projects"></a>
        <h2>Projects</h2>
        

    </section>

    <section class = "section skills">
        <a name = "skills"></a>

        <h2>Skills</h2>
    </section>

    <section class = "section contact">
        <a name = "contact"></a>

        <h2>Contact</h2>
    </section>
</body>
</html>