lab_1_cv/static/DSC_0138.JPG
lab_1_cv/static/sem3results.png
labex1.zip
labex1/sample_cvs.zip
labex1/sample_cvs/Screenshot from 2023-07-17 13-15-38.png
labex1/sample_cvs/Screenshot from 2023-07-17 13-16-09.png
labex1/sample_cvs/Screenshot from 2023-07-17 13-17-13.png
labex1/static/DSC_0137.JPG
content for CV.docx
labex1/static/me1.jpg
.gitignore
labex1/static/me2.jpg
labex1/sample_cvs/Screenshot from 2023-07-17 13-27-41.png
labex1_shreya21011101123.zip
labex2.zip
lab_1_cv/whythispdf.pdf
labex1/sample_cvs/Screenshot from 2023-07-17 13-26-30.png
labex3.zip
.gitignore
labex3/sample_cvs/Screenshot from 2023-07-17 13-15-38.png
labex3/sample_cvs/Screenshot from 2023-07-17 13-16-09.png
labex3/sample_cvs/Screenshot from 2023-07-17 13-17-13.png
.gitignore
labex3/sample_cvs/Screenshot from 2023-07-17 13-26-30.png
labex3/sample_cvs/Screenshot from 2023-07-17 13-27-41.png
labex3/static/me2.jpg
labex2/shreyasev.zip
